databasetesting/src/main/mule/databasetesting.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="56be27ab-35e7-4728-b1b3-944ba81d4268" >
		<http:listener-connection host="localhost" port="8150" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="6ab7f464-5024-4a87-849f-8dfc548f490c" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="password" database="CARSDATA" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="2d013e98-0ae7-419e-9f34-4a3e91169167" >
		<file:connection workingDir="G:\MulesoftArtifacts" />
	</file:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="95de8177-95d0-437b-aa97-94c1d470e79a" >
		<http:request-connection host="localhost" port="8123" />
	</http:request-config>
	<flow name="databasetestingFlow" doc:id="0c25f1ea-1051-44a9-acfa-83861c18990d" >
		<http:listener doc:name="Listener" doc:id="0866673e-54d3-4cc3-8f4d-a7dfb6483fbe" config-ref="HTTP_Listener_config" path="/select">
		</http:listener>
		<db:select doc:name="Select" doc:id="e271b10e-f05c-40c4-ab59-8a4cd5bc5540" config-ref="Database_Config">
		<db:sql>select * from auto where year=:year</db:sql>
			<db:input-parameters ><![CDATA[#[{'year':attributes.queryParams.'year'
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="b7b19231-faf7-4ca4-bb2b-6f487eb684d8" message="Number of Records Fetched :#[message.payload]]"/>
		<ee:transform doc:name="Transform Message" doc:id="ace9032a-615a-4fd8-a710-dd6f042eb1df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e21dca84-1230-45ba-ab66-dea15f6ad3e9" >
				<ee:transform doc:name="Transform Message" doc:id="2960d97f-4832-41aa-bab4-61fe16d41fc0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
